.option_form {
    display: none !important;
}
.option_form.show {
    display: block !important;
}

.error {
    color: #d71a1a;
}
.child_option_btn {
    display: none !important;
    margin-left: 20px;
}
.child_option_btn.show {
    display: block !important;
}